@model ProyectoAula3_MiguelHerazo_SamuelMeneses_JeronimoRivera.Models.IdeaDeNegocio

<h2>Ideas de Negocio con Impacto en Más de 3 Departamentos</h2>

<ul>
    @foreach (var idea in Model)
    {
        <li>@idea.Nombre</li>
    }
</ul>
