@model decimal

<h2>Suma Total de Inversión en Todas las Ideas de Negocio</h2>

@if (Model != null)
{
    <p>La suma total de inversión en todas las ideas de negocio es: @Model</p>
}
else
{
    <p>Ocurrió un error al calcular la suma total de inversión.</p>
}
