@{
    ViewBag.Title = "Contacto";
}

<h2>Contacto</h2>
<p>Esta es la página de contacto. Puedes usarla para proporcionar información de contacto, formularios de contacto o cualquier otro contenido relacionado con la comunicación.</p>
